#Third party package requirements for OpenEats 2

django==1.11
django-imagekit==3.2.4
django-reversion==1.5.1
django-taggit==0.10
feedparser==5.1.3
html5lib==0.95
pillow==2.7.0
whoosh==2.5.2
django-pagination==1.0.7
django-haystack==2.3.1
django-taggit-templatetags==0.4.6dev
django-extensions==1.2.0
webtest==2.0.7
django-webtest==1.7.5
reportlab
django-tastypie==0.10.0
#lxml==3.2.3
https://github.com/qgriffith/django-ratings/zipball/stable
git+git://github.com/detrout/django-navbar.git@903d13fe7694ec71dfc50243c7d33636d69d25da#egg=django-navbar
