{% extends "base.html" %}
{% comment %}This template is the recipe detail view{% endcomment %}

{% load i18n %}
{% load recipe_keywords %}

{%block title %}{{ block.super }}- {{ recipe }} {% endblock %}
{% block keywords %}<meta name="keywords" content="{% recipe_keywords recipe.id 10 %}"/>{% endblock %}
{% block jscript %}
  <link rel="stylesheet" href="{{ STATIC_URL }}js/jquery/fancybox/source/jquery.fancybox.css" />
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/fancybox/source/jquery.fancybox.pack.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.stars/jquery.ui.stars.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.jeditable.js"> </script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/oe_email.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/oe_recipeDetail.js"></script>
{% endblock %}

{% block content %}
    <div class="alert alert-info" style="display:none;"></div>

    <div class="page-header">
      <h1>{{ recipe.title }}</h1>
    </div>

    <div class="recipe-toolbar">
      <a class="btn btn-primary btn-sm" href="/recipe/print/{{ recipe.slug }}/">{%trans 'print' %}</a>

        {% if recipe.author == request.user %}
        <a class="btn btn-primary btn-sm" href="{% url 'recipe_edit' user=request.user.username slug=recipe.slug %}">{% trans 'edit' %}</a>
        {% endif %}

       <a class="btn btn-primary btn-sm" href="{% url 'recipe_export' slug=recipe.slug %}">pdf</a>
    </div>

    <div class="pull-right" id="tags">
        <p><i class="glyphicon glyphicon-tags"></i> {% trans 'tags:' %}</p>
          <a href="#" rel="tag" alt="tag">tag</a>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                    <a href="{{ STATIC_URL }}images/parsley.jpg"> <img src="{{ STATIC_URL }}images/parsley.jpg"
                                                                       alt="{{ recipe }} photo"/></a>
                <p><span>{% trans "Chef:" %}</span> <a
                        href="{{ recipe.author.get_profile.get_absolute_url }}">{{ recipe.author }}</a></p>

                <div class="caption">
                    <div id="recipe-cook">
                        <ul>
                            <li><i class="glyphicon glyphicon-info-sign"></i> <span>{% trans "serves" %}</span> {{ recipe.servings }}
                            </li>
                            <li><i class="glyphicon glyphicon-time"></i>
                                <span>{% trans "cook time" %}</span> {{ recipe.cook_time }}
                                minute{{ recipe.cook_time|pluralize }}</li>
                        </ul>
                    </div>
                    <ul class="recipe-groups">
                        <li><span>{% trans "Course:" %}</span> <a
                                href="{% url 'course_recipes' slug=recipe.course.slug %}">{{ recipe.course }}</a></li>
                        <li><span>{% trans "Cuisine:" %}</span> <a
                                href="{% url 'cuisine_recipes' slug=recipe.cuisine.slug %}">{{ recipe.cuisine }}</a>
                        </li>
                    </ul>
                    <p>{{ recipe.info|safe }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span
                            class="glyphicon glyphicon-th-list"></span> {% trans "Ingredients" %}</h3>
                </div>

                <ul class="list-group">
                    {% for ing in recipe.ingredients.all %}
                        <li class="list-group-item"> {{ ing.quantity }} {{ ing.measurement }}
                            - {{ ing.title }} {{ ing.preparation }}</li>
                    {% endfor %}
                </ul>

                {% if recipe.related %}
                    <h4>{{ recipe.related }}</h4>
                    <ul class="list-group">
                        {% for ing in recipe.related.ingredients.all %}
                            <li class="list-group-item"> {{ ing.quantity }} {{ ing.measurement }}
                                - {{ ing.title }} {{ ing.preparation }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div id="recipe-directions" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="glyphicon glyphicon-pencil"></i> {% trans "Directions" %}</h3>
                </div>
                <div class="panel-body">
                    {{ recipe.directions|safe }}
                    {% if recipe.related %}
                        <h4>{{ recipe.related }}</h4>
                        {{ recipe.related.directions|safe }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

